// Normalize.sass
// Sass implimentation of normalize
$element: a
@import normalize_a

$element: abbr
@import normalize_abbr

$element: article
@import normalize_article

$element: aside
@import normalize_aside

$element: audio
@import normalize_audio

$element: b
@import normalize_b

$element: body
@import normalize_body

$element: button
@import normalize_button

$element: canvas
@import normalize_canvas

$element: code
@import normalize_code

$element: details
@import normalize_details

$element: dfn
@import normalize_dfn

$element: fieldset
@import normalize_fieldset

$element: figcaption
@import normalize_figcaption

$element: figure
@import normalize_figure

$element: footer
@import normalize_footer

$element: h1
@import normalize_h1

$element: header
@import normalize_header

$element: hgroup
@import normalize_hgroup

$element: hidden
@import normalize_hidden

$element: hr
@import normalize_hr

$element: html
@import normalize_html

$element: img
@import normalize_img

$element: input
@import normalize_input

$element: kbd
@import normalize_kbd

$element: legend
@import normalize_legend

$element: main
@import normalize_main

$element: mark
@import normalize_mark

$element: menu
@import normalize_menu

$element: nav
@import normalize_nav

$element: optgroup
@import normalize_optgroup

$element: pre
@import normalize_pre

$element: progress
@import normalize_progress

$element: section
@import normalize_section

$element: select
@import normalize_select

$element: small
@import normalize_small

$element: strong
@import normalize_strong

$element: samp
@import normalize_samp

$element: sub
@import normalize_sub

$element: summary
@import normalize_summary

$element: sup
@import normalize_sup

$element: svg
@import normalize_svg

$element: table
@import normalize_table

$element: td
@import normalize_td

$element: template
@import normalize_template

$element: textarea
@import normalize_textarea

$element: th
@import normalize_th

$element: select
@import normalize_select

$element: video
@import normalize_video
