%content
    content: ""

%clearfix
    &::before,&::after
        @extend %content
        display: table
    &::after
        clear: both

%flexbox
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

%flex-1
    -webkit-box-flex: 1
    -moz-box-flex: 1
    width: 20%
    -webkit-flex: 1
    -ms-flex: 1
    flex: 1

%flex-column-nowrap
    +flexflow(column, nowrap)

%flex-column-wrap
    +flexflow(column, wrap)

%flex-row-nowrap
    +flexflow(row, nowrap)

%flex-row-wrap
    +flexflow(row, wrap)

%position-absolute
    position: absolute

%position-relative
    position: relative

%position-fixed
    position: fixed

%position
    top: 0
    right: 0
    bottom: 0
    left: 0
